In [ ]:
'''Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]'''

In [1]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
find_sort=lambda l:sort(l)
find_sort(l)

NameError: name 'sort' is not defined

In [ ]:
'''Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'''

In [2]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'''Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')'''

In [8]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2=tuple(map(str,l1))
print(l2)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
'''Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.'''

In [14]:
from functools import reduce
l3=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
reduce(lamba x,y:x+y,l3)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3660566244.py, line 3)

In [ ]:
'''Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]'''

In [17]:
l4=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x:x%2==0 and x%3==0,l4))

[6, 60, 90, 120]

In [ ]:
'''Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']'''

In [18]:
texts=['python', 'php', 'aba', 'radar', 'level']
print("Orginal list of strings:")
print(texts) 
result = list(filter(lambda x: (x == "".join(reversed(x))), texts)) 
print("\nList of palindromes:")
print(result)

Orginal list of strings:
['python', 'php', 'aba', 'radar', 'level']

List of palindromes:
['php', 'aba', 'radar', 'level']